html
{
font-size: 10px
}

body{
    background: url("C:\Users\dell\Desktop\Internship\INTERNSHIP NEW\pexels-pixabay-270360.jpg");
    background-position: 0 1000px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

